body {
    background-color: #282c34;
    color: #abb2bf;
    margin: 0 25%;
    font-family: "Fira Code";
}

hr {
    color: #5c6370;
}

.info {
    text-align: center;
    margin-top: 50px;
}

.info h3 {
    color: #fff;
}

.info h4 {
    color: #d19a66;
}

.links {
    list-style: none;
    padding: 0;
    display: flex; /* Use flex container */
    justify-content: center;
}

.links li {
    margin-right: 10px; /* Adjust the spacing between items */
}
.social_icon {
    height: 20px;
    width: 20px;
}
.links {
    margin: 10px 0px;
}

.section {
    margin: 50px 0px;
}

.sub_heading {
    text-align: center;
    padding: 10px 0px;
    color: #e06c75;
}
.mini_heading {
    padding: 5px 0px;
    color: #98c379;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    justify-content: center;
    align-items: center;
}

.grid-item {
    color: #61afef;
    padding: 10px;
    text-align: center;
}

.work_points {
    list-style-type: none;
}

.note {
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
}
footer {
    text-align: center;
}

@media only screen and (max-width: 800px) {
    body {
        margin: 0 15%;
    }
}

@media only screen and (max-width: 600px) {
    body {
        margin: 0 10%;
        /* font-size: 1rem; */
    }
    h5,
    h4 {
        font-size: medium;
    }
    p,
    div,
    h6 {
        font-size: smaller;
    }
}
